@tailwind base;
@tailwind components;
@tailwind utilities;

.language-card span {
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 0.25rem;
  width: 100%;
}

.language-card input[type='checkbox']:focus + span {
  background-color: rgba(219, 234, 254, 0.2);
}

.language-card input[type='checkbox']:checked + label {
  background-color: rgb(219, 234, 254);
  border-color: rgb(30, 58, 138);
  color: rgb(30, 58, 138);
  box-shadow: 0 0 0 5px rgb(30, 58, 138);
}

.language-card input[type='checkbox']:checked + span {
  background-color: rgb(219, 234, 254);
  border-color: rgb(30, 58, 138);
  color: rgb(30, 58, 138);
  box-shadow: 0 0 0 5px rgb(30, 58, 138);
}

.language-card input[type='checkbox']:checked:focus + span {
  background-color: rgb(219, 234, 254);
  border-color: rgb(30, 58, 138);
  color: rgb(30, 58, 138);
  box-shadow: 0 0 0 5px rgb(30, 58, 138);
}
